<h1>Currency pairs</h1>

<div>Go <a href="/">back</a>.</div>

<ul>
  <% @currencies.each do |print| %>
  <li>
    <a href="/forex/<%= print %>">
      Convert 1 <%= print %> to...
    </a>
  </li>
  <% end %>
</ul>
